@import '~bpk-mixins';

.MobsterDetails {
  &__li {
    margin: $bpk-spacing-xs 0;
    list-style-type: none;
  }

  &__panel {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &__mobster {
    flex-grow: 1;
  }

  &__removeMobster {
    flex-grow: 1;
    text-align: right;
  }

  &__button {
    margin-right: $bpk-spacing-xs;
  }

  &__button:last-child {
    margin: 0;
  }
}
